.div1{
    background-color: orange;
}

/*Lorsqu'on descend la page, le titre reste figé*/
.title1{
    position: fixed; 
}

/* Déplacement de l'élément p1 de la bordure gauche de 50 px */
.p1{
    position: relative;
    left: 50px;
}

.div2{
    background-color: blueviolet;
    position: relative;
    width: 500px;
    height: 400px;
}

.title2{
    position: absolute; /*positionné dans l'élément parent div2*/
    bottom: 0px;
    right: 0px;
}

