body{
	font-family: 'Akaya Telivigala', cursive;
}

/* Notation long-hand */
.h1{
	font-style: italic;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	font-family: Verdana, sans-serif;

	padding-top: 20px;
	padding-right: 15px;
	padding-bottom: 0px;
	padding-left: 50px;

	border-width: 5px;
	border-style: solid;
	border-color: blue;

	margin-top: 20px;
	margin-right: 15px;
	margin-bottom: 10px;
	margin-left: 5px;
}

/* Notation short-hand */
.p1{
	font: italic normal 16px/24px Verdana, sans-serif;
	padding: 20px 15px 0px 50px;
	border: 5px solid blue;
	margin: 20px 15px 10px 5px;
}

/* Notation long-hand */
.h2{
	font-style: italic;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	font-family: Verdana, sans-serif;

	background-color: white;
	background-image: url(./images/sky.png);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: top left;
}

/* Notation short-hand */
.p2{
	font: italic normal 16px/24px Verdana sans-serif;
	background: white url(./images/sky.png) no-repeat scroll top left;
}