h1{
	text-align: center;
	text-transform: uppercase;
	text-decoration: underline;
	text-shadow: 0px 0px 3px teal;
}

.p1{
	text-transform: lowercase;
	text-shadow: 3px 3px 4px #444;
}

.p2{
	text-transform: capitalize;
	text-decoration: line-through;
	text-indent: -100px;
	text-shadow: -3px 3px 4px blue;
}

/* Suppression du soulignement sur le lien */
a{
	text-decoration: none;
}