body {
  background-color: green;
  margin: 0px;
  padding: 0px;
}

#div1,
#div2,
#div3 {
  display: inline-block;
  width: 30%;
  height: 100px;
  border: 3px solid #aaa;
  margin: 1%;
}

#div1 {
  background-color: orange;
}

#div2 {
  background-color: blue;
}

#div3 {
  background-color: green;
}

#footer {
  width: 100%;
  height: 200px;
  margin-top: 20px;
  border-top: 1px solid black;
  text-align: center;
  background-color: #ccc;
}

/* --------------------------------------------------------------
@media screen à saisir en fin de page du fichier Excel !!!
---------------------------------------------------------------* */

/* Pour tous les écrans <= à 780 pixels */
@media screen and (max-width: 780px) {
  body {
    background-color: orange;
  }

  #div1,
  #div2,
  #div3 {
    width: 100%;
    border-right: none;
    border-left: none;
    margin-right: 0px;
    margin-left: 0px;
  }

  #footer {
    display: none;
  }
}

/* Pour tous les écrans avec un taille comprise entre 781 et 1279 pixels */
@media screen and (min-width: 781px) and (max-width: 1279px) {
  body {
    background-color: blue;
  }
  h1 {
    font-size: 20px;
  }
}

/* 
Orientation de type paysage / horizontal qu'on peut adapter
selon la largeur de l'écran
 */
@media screen and(orientation: landscape) {
}
