* {
  text-align: center;
}

div {
  max-height: 100px;
  overflow-y: scroll;
  border: 1px solid black;
  max-width: 300px;
  margin: 0 auto;
}

table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
  width: 150px;
}

th:nth-child(3),
td:nth-child(3) {
  width: 100px;
}

th {
  background-color: #ddd;
  position: sticky;
  top: 0px;
}

tr:nth-child(odd) {
  background-color: rgb(156, 215, 156);
}
