body{
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}

.div1{
    background-color: orange;
    width: 400px;
    height: 200px;
    margin: 0px auto;
}

.div2{
    background-color: rgb(25, 0, 255);
    width: 400px;
    height: 200px;
    position: relative;
    left: 100px;
}

.div3{
    background-color: rgb(255, 0, 191);
    width: 400px;
    height: 200px;
    position: relative;
    left: 30%;
    right: 30%;
}

.div4{
    background-color: rgb(0, 255, 0);
    width: 400px;
    height: 200px;
    float: left;
    text-align: center;
}

h1{
    float: left;
}
