<!DOCTYPE html>
<html lang="fr-FR"> <!-- site qui s'addresse à un publique francophone -->
	<head>
		<title>Mon CV en ligne</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">  <!-- site en français -->
		<link rel="stylesheet" type="text/css" href="style.css">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Redressed&display=swap" rel="stylesheet">
	</head>
	<body>
		<header> <!-- en-tête du navigateur -->
			<h1>John Gerald</h1>
		</header>
		<nav> <!-- corps de page du navigateur -->
			<div class="table">
				<ul>
					<li class="menu-ind">
						<a href="index.html">Accueil</a>
					</li>
					<li class="menu-exp">
						<a href="experiences-pro.html">Expériences professionnelles</a>
					</li>
					<li class="menu-hob">
						<a href="hoobies.html">Loisirs</a>
					</li>
					<li class="menu-con">
						<a href="contacts.html">Contactez-moi ;)</a>
					</li>
				</ul>
			</div>
		</nav>
		<section class="rouge">
			<h1>Contactez-moi ;)</h1>
			<div class="sec">
				<p>Mon profil t'intéresse ?</p>
				<p>...Tu n'aurais pas bu par hasard ?</p>
				<p>Mon adresse e-mail si tu desespères tant que ça... : <strong>lrcompta@gmail.com</strong></p>
				<p>Évidemment je ne vous répondrai pas...</p>
			</div>
		</section>
		<footer> <!-- pied de page du navigateur -->
			<p>Copyright 2021 John Gerald - Toute reproduction est autorisée !</p>
		</footer>
	</body>
</html>