<!DOCTYPE html>
<html lang="fr-FR"> <!-- site qui s'addresse à un publique francophone -->
	<head>
		<title>Mon CV en ligne</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">  <!-- site en français -->
		<meta name="description" content="Découvrez mes expériences professionnelles passées">
		<link rel="stylesheet" type="text/css" href="style.css">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Redressed&display=swap" rel="stylesheet">
	</head>
	<body>
		<header> <!-- en-tête du navigateur -->
			<h1>John Gerald</h1>
		</header>
		<nav> <!-- corps de page du navigateur -->
			<div class="table">
				<ul>
					<li class="menu-ind">
						<a href="index.html">Accueil</a>
					</li>
					<li class="menu-exp">
						<a href="experiences-pro.html">Expériences professionnelles</a>
					</li>
					<li class="menu-hob">
						<a href="hoobies.html">Loisirs</a>
					</li>
					<li class="menu-con">
						<a href="contacts.html">Contactez-moi ;)</a>
					</li>
				</ul>
			</div>
		</nav>
		<section class="orange">
			<h1>Vincenze Bercon</h1>
			<div class="sec">
				<div class="leftexp">
					<a href="http://monpatronestcon.com/" target="_blank"><img src="images/belle_image.png" alt="Devine !"></a>
				</div>
				<div class="rightexp">
					<p>N'a jamais fait de paye auparavant, ni de la RH (et alors les licenciements je ne vous dis pas...)</p>
				</div>
			</div>
		</section>
		<section class="rose">
			<h1>Androus Bonnauchiotte</h1>
			<div class="sec">
				<div class="leftexp">
					<a href="https://www.allocine.fr/film/fichefilm_gen_cfilm=111406.html" target="_blank"><img src="images/head.png" alt="C'est lui !"></a>
				</div>
				<div class="rightexp">
					<p>Depuis que je l'ai rencontré, je suis devenu un soumis :)</p>
				</div>
			</div>
		</section>
		<footer> <!-- pied de page du navigateur -->
			<p>Copyright 2021 John Gerald - Toute reproduction est autorisée !</p>
		</footer>
	</body>
</html>