<!DOCTYPE html>
<html lang="fr-FR"> <!-- site qui s'addresse à un publique francophone -->
	<head>
		<title>Mon CV en ligne</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">  <!-- site en français -->
		<link rel="stylesheet" type="text/css" href="style.css">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Redressed&display=swap" rel="stylesheet">
	</head>
	<body>
		<header> <!-- en-tête du navigateur -->
			<h1>John Gerald</h1>
		</header>
		<nav> <!-- corps de page du navigateur -->
			<div class="table">
				<ul>
					<li class="menu-ind">
						<a href="index.html">Accueil</a>
					</li>
					<li class="menu-exp">
						<a href="experiences-pro.html">Expériences professionnelles</a>
					</li>
					<li class="menu-hob">
						<a href="hoobies.html">Loisirs</a>
					</li>
					<li class="menu-con">
						<a href="contacts.html">Contactez-moi ;)</a>
					</li>
				</ul>
			</div>
		</nav>
		<section class="vert">
			<h1>Doom !</h1>
			<div class="sec">
				<div class="leftexp">
					<img src="images/doom.png" alt="Un trou du cul !!!">
				</div>
				<div class="rightexp">
					<p>J'attaque aussi bien au bazooka qu'au petit pistolet</p>
				</div>
			</div>
		</section>
		<section class="bleu">
			<h1>La course</h1>
			<div class="sec">
				<div class="rightexp">
					<p>Je sais courir sur le côté</p>
				</div>
				<div class="leftexp">
					<img src="images/bean.png" alt="Plus rapide que moi tu meurs !">
				</div>
			</div>
		</section>
		<section class="jaune">
			<h1>Défi BN</h1>
			<div class="sec">
				<div class="leftexp">
					<img src="images/bn.png" alt="Trop bon !!!">
				</div>
				<div class="rightexp">
					<p>Je ne suis pas le meilleur, mais je fais au mieux...</p>
				</div>
			</div>
		</section>
		<footer> <!-- pied de page du navigateur -->
			<p>Copyright 2021 John Gerald - Toute reproduction est autorisée !</p>
		</footer>
	</body>
</html>