<!-- 
Dans les 4 derniers cours, on apprend à crééer un cv sur une page @
 -->

<!DOCTYPE html>
<html lang="fr-FR"> <!-- site qui s'addresse à un publique francophone -->
	<head>
		<title>Mon CV en ligne</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">  <!-- site en français -->
		<meta name="description" content="Présentation de John Gerald - CV">
		<link rel="stylesheet" type="text/css" href="style.css">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
	</head>
	<body>
		<header> <!-- en-tête du navigateur -->
			<h1>John Gerald</h1>
		</header>
		<nav> <!-- corps de page du navigateur -->
			<div class="table">
				<ul>
					<li class="menu-ind">
						<a href="index.html">Accueil</a>
					</li>
					<li class="menu-exp">
						<a href="experiences-pro.html">Expériences professionnelles</a>
					</li>
					<li class="menu-hob">
						<a href="hoobies.html">Loisirs</a>
					</li>
					<li class="menu-con">
						<a href="contacts.html">Contactez-moi ;)</a>
					</li>
				</ul>
			</div>
		</nav>
		<article>
			<section class="presentation">
				<h1>Qui suis-je ?</h1>
				<div class="sec">
					<div class="left">
						<img src="images/grrr.png" alt="Ma photo">
					</div>
					<div class="right">
						<p>Je m'appelle John Gerald, j'ai 44 ans et je vis à MontCul</p>
						<p>Je possède énormément de faux diplômes</p>
						<p>Tu as deux possibilités : soit tu m'embauches, soit je te fracasses !</p>
					</div>
				</div>
			</section>
			<section class="parcours">
				<h1>Parcours et expériences</h1>
				<div class="sec">
					<h2>Expériences professionnelles</h2>
					<div class="exp">
						<div class="left">
							<h3>2010 - 2021</h3>
						</div>
						<div class="right">
							<h3>Gros connard</h3>
							<p>Au cours de cette expérience, j'ai emmerdé beaucoup de gens et j'adore ça !</p>
						</div>
					</div>
					<div class="exp">
						<div class="left">
							<h3>2009 - 2010</h3>
						</div>
						<div class="right">
							<h3>Fumiste</h3>
							<p>Au cours de cette expérience, je faisais semblant de travailler</p>
						</div>
					</div>
					<div class="exp">
						<div class="left">
							<h3>2005 - 2009</h3>
						</div>
						<div class="right">
							<h3>Menteur !</h3>
							<p>Au cours de cette expérience, j'ai fait croire que je savais faire de la paye</p>
						</div>
					</div>
					<div class="exp">
						<div class="left">
							<h3>2000 - 2005</h3>
						</div>
						<div class="right">
							<h3>De véritables petits enculés...</h3>
							<p>Au cours de cette expérience, j'ai travaillé pour des petites frappes</p>
						</div>
					</div>
					<h2>Parcours scolaire</h2>
					<div class="exp">
						<div class="left">
							<h3>1997 - 2000</h3>
						</div>
						<div class="right">
							<h3>Vélo et plage - chapitre II</h3>
							<p>Il fallait bien que je m'y remette :)</p>
						</div>
					</div>
					<div class="exp">
						<div class="left">
							<h3>1995 - 1997</h3>
						</div>
						<div class="right">
							<h3>C'était chiant :(</h3>
							<p>Je n'ai pas arrêté d'avoir des cours, c'était trop lourd...</p>
						</div>
					</div>
					<div class="exp">
						<div class="left">
							<h3>1993 - 1997</h3>
						</div>
						<div class="right">
							<h3>Vélo et plage - chapitre I</h3>
							<p>Tout est dit dans le titre ;)</p>
						</div>
					</div>
				</div>
			</section>
			<section class="competences">
				<h1>Compétences et niveaux</h1>
				<div class="sec">
					<div class="cleft">
						<div class="sous">
							<div class="sousleft">
								<h3>Compétences</h3>
							</div>
							<div class="sousright">
								<h3>Niveaux</h3>
							</div>
						</div>
						<div class="sous">
							<div class="sousleft">
								<p>J'adore foutre la merde !</p>
							</div>
							<div class="sousright">
								<p>EXPERT OH ! YEAH !</p>
							</div>
						</div>
						<div class="sous">
							<div class="sousleft">
								<p>Je suis un gros fayot</p>
							</div>
							<div class="sousright">
								<p>Maîtrise totale</p>
							</div>
						</div>
					</div>
					<div class="cright">
						<div class="sous">
							<div class="sousleft">
								<h3>Compétences</h3>
							</div>
							<div class="sousright">
								<h3>Niveaux</h3>
							</div>
						</div>
						<div class="sous">
							<div class="sousleft">
								<p>La fuite est toujours la meilleur solution</p>
							</div>
							<div class="sousright">
								<p>Avancé</p>
							</div>
						</div>
						<div class="sous">
							<div class="sousleft">
								<p>J'adore me foutre de la gueule des gens</p>
							</div>
							<div class="sousright">
								<p>Excellent</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="recommandations">
				<h1>Recommandations à voir sur internet</h1>
				<div class="sec">
					<div class="reco">
						<h2>Vincenze Bercon</h2>
						<div class="left">
							<a href="https://www.jooks.fr/les-gens/test-etes-vous-un-gros-con/">Son avis</a>
						</div>
						<div class="right">
							<p>John Gerald est un petit enculé car il a quitté la boîte du jour au lendemain sans rien dire</p>
						</div>
					</div>
					<div class="reco">
						<h2>Androus Bonnauchiotte</h2>
						<div class="left">
							<a href="https://www.youtube.com/watch?v=b9hJuxbCSMc">Son avis</a>
						</div>
						<div class="right">
							<p>Depuis que j'ai rencontré John, je me suis mis sur youtube ;)</p>
						</div>
					</div>
					<div class="reco">
						<h2>Alaing Morietti !</h2>
						<div class="left">
							<a href="https://la-conjugaison.nouvelobs.com/du/verbe/chier-voix_passive.php">Son avis</a>
						</div>
						<div class="right">
							<p>Je n'ai pas changé depuis que je l'ai rencontré</p>
						</div>
					</div>
				</div>
			</section>
		</article>
		<footer> <!-- pied de page du navigateur -->
			<p>Copyright 2021 John Gerald - Toute reproduction est acceptée !</p>
		</footer>
	</body>
</html>